
 
 .nav-list {
     margin: 0 10px;
 }

 .link{
    color: rgb(118, 118, 118);
    text-decoration: none;
    font-size: large;
 }

 .active-link {
    color: #000 !important;
    font-weight: 800 !important;
}
.profile{
    /* width: 130px; */
}
.profile-img{
    width: 54px;
    height: 54px;
    margin-right: 5px;
}

.active-profile{
background-color: #dadada;
border: #000 2px solid;
background-color: rgba(0, 0, 0, 0.3);
}

.logo-img{
    width: 25%;
}

@media (min-width: 0px) and (max-width: 600px) {
    .logo-img{
        width: 60%;
    }
  }
  @media (min-width: 601px) and (max-width: 850px) {
    .logo-img{
        width: 50%;
    }
    .nav-link{
        font-size: 12px ;
  
    }
    
  }
  @media (min-width: 0px) and (max-width: 768px) {
   .btns-container{
    margin-top: 14px !important;
    margin-bottom: 14px;
   }
  }