<div class="container">

    <div class="row">

        <h3>All Users</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Profile Pic</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Gender</th>
                        <th>Created At</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td class="text-center">
                            <img *ngIf="user.profile_pic?.secure_url; else noPic" [src]="user.profile_pic.secure_url"
                                alt="Profile" width="40" height="40" class="rounded-circle" />
                            <ng-template #noPic>
                                <span class="text-muted">No Image</span>
                            </ng-template>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.createdAt | date:'short' }}</td>
                        <td class="text-center">
                            <button onclick="DeleteUser(user._id)" class="btn btn-danger">Delete User</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Add course</h3>
        <form [formGroup]="AddCourse" (ngSubmit)="AddCourseSubmit()">
            <label for="courseName">Name</label>
            <input type="text" formControlName="title" class="form-control">

            <label for="courseDescription">Description</label>
            <textarea formControlName="Description" class="form-control"></textarea>

            <label for="courseDescription">Price</label>
            <input type="number" formControlName="price" class="form-control">

            <label for="">Course Image</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">

            <!-- Image preview -->
            <div *ngIf="imagePreview"
                class="w-50 text-center d-flex justify-content-center align-items-center mt-2  overflow-hidden">
                <img [src]="imagePreview" alt="Course Image Preview" class="w-25 rounded-2">

            </div>

            <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </form>


    </div>
</div>