.layer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111111;
    background-color: rgba(112, 112, 112, 0.616);
    transition: top 0.5s ;
}

.fa-pen {
    font-size: 150px;
    color: rgba(0, 0, 0, 0.738);
    /* display: none; */
    opacity: 0;
    transition: opacity 0.5s;
}
.image-container{
    cursor: pointer;
}
.image-container:hover .layer {
    top: 0;
}
.image-container:hover .fa-pen  {
    opacity:1;
}   