<div class="container mt-5">
    <div class="row">
        <h1>Register now.</h1>
        <form [formGroup]="RegisterForm" (ngSubmit)="regiser()">

            <label for="">Name</label>
            <input class="form-control" formControlName="username" type="text">
            <label for="">Email</label>
            <input class="form-control" formControlName="email" type="email">
            <label for="">Password</label>
            <input class="form-control" formControlName="password" type="password">
            <label for="">rePassword</label>
            <input class="form-control" formControlName="cPassword" type="password">
            <label for="">Gender</label>
            <input class="form-control" formControlName="gender" type="text">

            <button class="btn btn-info my-2" [disabled]="RegisterForm.invalid" type="submit">submit</button>

        </form>

        <div class="alert alert-danger my-2" *ngIf="RegisterForm.touched && RegisterForm.invalid">

            <div *ngIf="RegisterForm.get('email')?.touched && RegisterForm.get('email')?.invalid">
                <p *ngIf="RegisterForm.get('email')?.getError('required')">Email is required</p>
                <p *ngIf="RegisterForm.get('email')?.getError('email')">Invalid email format</p>
            </div>

            <div *ngIf="RegisterForm.get('password')?.touched && RegisterForm.get('password')?.invalid">
                <p *ngIf="RegisterForm.get('password')?.getError('required')">Password is required</p>
                <p *ngIf="RegisterForm.get('password')?.getError('minlength')">Password must be at least 8 characters
                    long</p>
                <p *ngIf="RegisterForm.get('password')?.getError('pattern')">
                    Password must contain an uppercase letter, a lowercase letter, a number, and a special character
                </p>
            </div>

            <div *ngIf="RegisterForm.get('rePassword')?.touched && RegisterForm.get('rePassword')?.invalid">
                <p *ngIf="RegisterForm.get('rePassword')?.getError('required')">Re-entering password is required</p>

            </div>

            <!-- Password mismatch -->
            <!-- <div *ngIf="RegisterForm.errors?.passwordMismatch && RegisterForm.get('rePassword')?.touched">
                <p>Passwords do not match</p>
            </div> -->

            <div *ngIf="RegisterForm.get('name')?.touched && RegisterForm.get('name')?.invalid">
                <p *ngIf="RegisterForm.get('name')?.getError('required')">Name is required</p>
                <p *ngIf="RegisterForm.get('name')?.getError('minlength')">Name must be at least 3 characters</p>
            </div>

            <div *ngIf="RegisterForm.get('phone')?.touched && RegisterForm.get('phone')?.invalid">
                <p *ngIf="RegisterForm.get('phone')?.getError('required')">Phone number is required</p>
                <p *ngIf="RegisterForm.get('phone')?.getError('pattern')">Phone number must be exactly 10 digits</p>
            </div>

            <div class="" *ngIf="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
        </div>
        <a  class="text-decoration-none" [routerLink]="['/login']">
            <div *ngIf="isRegisterSuccessful" class="alert alert-success">
                <p class="">Register successed click to <span class="text-info">Login</span></p>
            </div>
        </a>


    </div>
</div>